/* General Styles */
body{
    display: flex;
    flex-direction: column;
}

/* Navigation Bar Styles */
nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    background-color: rgba(106, 124, 98, 0.8);
}

nav a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 275px;
}

nav.navBarPageTop{
    position: sticky;
    background-color: transparent;

}

nav.navBarPageTop a {
    color: rgba(106, 124, 98, 0.8);
    font-weight: bold;
}
