/* general style*/
body{
    font-family:'Times New Roman', Times, serif;
    color: black;
}

/* Page Container */
.pageContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(153, 123, 96, 0.68);
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Content Containers */
.contentContainer {
    height: 700px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

/* Align contents of the first box. */
.toyNameSelected, .toyPriceSelected, .qtyAvaliableSelected {
    width: 500px;
    display: flex;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Align all items in the container to the center*/
.manufacturerSelected, .descriptionSelected, .dimensionsSelected, .weightSelected, .chockingHazardSelected, .primaryColorSelected, .primaryMaterialSelected, .ageGroupSelected {
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.manufacturerSelected h2, .descriptionSelected h2, .dimensionsSelected h2, .weightSelected h2, .chockingHazardSelected h2, .primaryColorSelected h2, .primaryMaterialSelected h2, .ageGroupSelected h2 {
    margin-right: 10px;
}

/* Image Container */
.imageContainer {
    height: 500px;
    width: 500px;
    background-color: rgba(106, 124, 98, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img{
    height: 400px;
    width: 400px;
}

/* Toy Information */
.toyNameSelected {
    font-size: 30px;
    background-color: rgba(106, 124, 98, 0.8);
}

.toyPriceSelected {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

/* .qtyAvaliable {

} */

.toyButtonSelected{
    height: 90px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.toyButtonSelected button{
    height: 50px;
    width: 200px;
    background-color: rgba(106, 124, 98, 0.8);
    border: 1px solid black;
    font-weight: bold;
    border-radius: 10px;
}

.toyButtonSelected button:hover {
    height: 70px;
    font-size: 18px;
    width: 260px;
    border: 1px solid black;
    background-color: rgba(106, 124, 70, 0.8);
    transition: 0.3s;
}

.toyButtonSelected button:active {
    background-color: white;
}

/* Product Details */
.descriptionSelected {
    height: 300px;
}

/* .manufacturer {

}

.dimensions {

}

.weight {

}

.chockingHazard {

}

.primaryColor {

}

.primaryMaterial {

}

.ageGroup {

} */
