/* General Styles */
body{
    font-family:'Times New Roman', Times, serif;
    color: black;
}

/* Header Styles */
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 5rem;
}

h2{
    padding: 0;
    margin: 0;
}

h3{
    text-align: center;
}


/* div Styles */
div {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;;
}

/* footer Styles */
footer{
    margin-top: 30px;
}
